@keyframes color {
    0%,
    100%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
}

/* jeszcze mozna zrobic ze powiedzmy po 18 sie zmieniaja grafiki */
* {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

/* tamten scollbar znika, musimy sami zrobic nowy */
/* uzywamy vh zeby scroll nie zmienial szerokosci za kazdym razem gdy jest przyblizana strona np */
html::-webkit-scrollbar {
    width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: rgb(7, 32, 74);
} 

html::-webkit-scrollbar-track {
    background-color: rgb(29, 82, 173);
}


body {
    background-size: cover;
    background-image: url("../images/clouds.jpg");
    background-attachment: fixed;
    font-size: 1.375rem;
    color: rgb(5, 5, 5);
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: -1;
}

.card {
    position: relative;
    margin-bottom: 60px;
}

.search {
    position: relative;
    padding: 0 20px;
    /* width: 100vw; */
    top: 20px;
    display: flex;
    justify-content: center;
}

.search input {
    width: 450px;
    background: white;
    padding: 10px 15px;
    margin-right: 16px;
    border-radius: 25px;
    color: #555;
    font-size: 1rem;
    border: 0;
    outline: 0;
}

.search button {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.search button img {
    width: 25px;
}

.error {
    position: absolute;
    display: none;
    font-size: 0.75rem;
    margin-top: 55px;
    transform: translateX(-13rem);
    color: red;
}

.cut {
    display: flex;
    justify-content: center;
    padding: 0 250px;
    gap: 40px 25px;
    /* tak jak margin w flexbox i grid */
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: black;
    cursor: default;
}

.container {
    position: relative;
    width: 270px;
    /* 14vw  270px*/
    height: 355px;
    /* 38vh  355px*/
    background-color: transparent;
    border-radius: 25px;
    box-shadow: -5px 5px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s, transform 0.5s;
}

/* !important, bo w js dokonuje zmiany containeru i jest to specyficzna zmiana, a ten 
hover taki nie jest i go nie czyta jakos bardzo, przynajmniej czyta to left i top */
.container:hover {
    position: relative;
    background-size: 900% 900% !important;
    transform: translate(-7px, 7px) scale(1.3);
    box-shadow: 0px 0px 0px !important;
    z-index: 1;
    animation: color 4s ease-in-out infinite;
}

.circle {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 80%;
    top: -5%;
    border-radius: 50%;
}

.corner_image {
    position: absolute;
    width: 57px;
    top: 5px;
    left: 6px;
}

.teeksior {
    padding: 5px 20px 35px;
    transition: filter 0.5s;
    /* that actually works with js */
}

.day {
    margin-top: 15px;
}

.date {
    display: block;
    margin-top: 12px;
    font-size: 3.125rem;
}

.temperature {
    display: flex;
    margin-top: 20px;
}

.temperature_low {
    margin-left: 60px;
}

.addnotation {
    margin-top: 40px;
    font-size: 1.25rem;
}

/* to jest zle zrobione ale robie to zeby sie pobawic tym js */
.blur_text {
    display: none;
    margin-left: 5px;
    line-height: 0;
    transform: translateY(-340px);
    font-size: 1.1rem;
    transition: display 5s;
}

.hover_add {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    font-weight: 700;
}

.img_hover {
    height: 3.3rem;
    margin: 0.5rem 0.65rem 0.2rem 0.5rem;
}

.hover_add div {
    display: flex;
}

.current_temperature, .rain_probability, .wind_speed, .humidity, .air_pressure {
    font-size: 1.9rem;
    font-weight: 900;
} 

.unit {
    font-weight: 500;
    font-size: 0.9rem;
}

@media (max-width: 500px) {
    .cut {
        padding: 0 20px;
    }

    .container:hover {
        transform: scale(1.2);
    }

    .search input {
        width: 250px;
        height: 20px;
        font-size: 0.8rem;
    }
    
    .search button {
        height: 40px;
    }
}

/* add media i defaultowo jest all, ale mozna zrobic screen itd */
/* max gdy zaczynamy od desktopu, min gdy zaczynamy od mobile, LEPIEJ CHYBA ZAWSZE ZACZYNAC OD MOBILE JEDNAK */