/* JESZCZE CHCESZ TUTAJ DODAC RESPONSIVE DESIGN */

/* jak ktos najezdza to napisz tam ze to jest aktualne dane, temperatura itd */

/* jeszcze mozna zrobic ze powiedzmy po 18 sie zmieniaja grafiki */

*{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

body{
    overflow: hidden;
    background-size: cover;
    z-index: -1;
    /* background-color: #EAFCFF;
    /* TLO POWINNO SIE TROSZECZKE MALUTKO RUSZAC TAK MALUSIENKO TE CHMURY */
    background-image: url("images/clouds.jpg"); */
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.375rem;
    color: rgb(5, 5, 5);
}

video {
    position: absolute;
    top: 0;
    left: 0;
}

.cut{
    padding: 0 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 25px;
    /* tak jak margin w flexbox i grid */
    justify-content: center;
}

.search{
    position: relative;
    top: 20px;
    display: flex;
    justify-content: center;
}

.error{
    color: red;
    display: flex;
    justify-content: center;
    text-align: left;
    position: absolute;
    font-size: 0.75rem;
    margin-top: 40px;
    left: 695px;
    display: none;
}

.search input{
    font-size: 1rem;
    border: 0;
    outline: 0;
    background: white;
    color: #555;
    padding: 10px 15px;
    width: 450px;
    border-radius: 25px;
    margin-right: 16px;
}

.search button{
    border: 0;
    outline: 0;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search button img{
    width: 25px;
}

@keyframes color{
    0%,
    100%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
}

.container{
    position: relative;
    width: 270px;
    /* 14vw  270px*/
    height: 355px;
    /* 38vh  355px*/
    background-color: linear-gradient(-45deg, #31C6B8, white);
    /* TA LINIA KODU SIE NIE WYSWIETLA W SENSIE NIE MA KOLOROW, SPRAWDZ CZEMU */
    border-radius: 25px;
    transition: all 0.3s, transform 0.5s;
}

/* jakis blurek jak wchodzi hover, i potem wyswietla dodatkowe informacje */
/* !important, bo w js dokonuje zmiany containeru i jest to specyficzna zmiana, a ten 
hover taki nie jest i go nie czyta jakos bardzo, przynajmniej czyta to left i top */
.container:hover{
    position: relative;
    transform: translate(-7px, 7px);
    box-shadow: 0px 0px 0px !important;
    animation: color 4s ease-in-out infinite;
    background-size: 900% 900% !important;
    transform: scale(1.3);
    z-index: 1;
    /* cursor: pointer; */
}

a{
    text-decoration: none;
    color: black;
    cursor: default;
}

.teeksior{
    padding: 5px 20px 35px;
    transition: filter 0.5s;
}

.img_hover {
    margin: 0.5rem 0.65rem 0.2rem 0rem;
    height: 3.3rem;
    margin-left: 7px;
}

/* to jest w pizdu zle zrobione ale robie to zeby sie pobawic tym js */
/* no i co tutaj chcemy zeby to sie pojawialo gdy najezdzam sobie na ten tekst jak to zrobic xd?  */
.blur_text{
    font-size: 1.1rem;
    line-height: 0;
    margin-left: 5px;
    transform: translateY(-340px);
    display: none;
    opacity: 1;
    transition: display 5s;
}

.current_temperature, .rain_probability, .wind_speed, .humidity, .air_pressure {
    font-size: 1.9rem;
    font-weight: 900;
} 

.hover_add {
    font-size: 0.95rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.unit {
    font-weight: 500;
    font-size: 0.9rem;
    vertical-align: text-top;
}

.hover_add div {
    display: flex;
}

.card{
    position: relative;
    margin-bottom: 60px;
}

.circle{
    position: absolute;
    left: 80%;
    top: -5%;
    width: 70px;
    height: 70px;
    /* background-color: #34B0D1; */
    border-radius: 50%;
}
/* 
.circle1{
    background-color: #2694e8;
}

.circle2{
    background-color:  #7b8185;
}

.circle3{
    background-color: #782864;
}

.circle4{
    background-color: #fca416;
} */

.image{
    position: absolute;
    width: 57px;
    left: 6px;
    top: 5px;
}

.day{
    /* margin-left: 20px; */
    margin-top: 15px;
}

.date{
    display: block;
    font-size: 3.125rem;
    margin-top: 12px;
}

.temperature{
    display: flex;
    margin-top: 20px;
}

.temperature_low{
    margin-left: 60px;
}

.addnotation{
    font-size: 1.25rem;
    margin-top: 40px;
}

/* add media i defaultowo jest all, ale mozna zrobic screen itd */
/* max gdy zaczynamy od desktopu, min gdy zaczynamy od mobile, LEPIEJ CHYBA ZAWSZE ZACZYNAC OD MOBILE JEDNAK */