/* JESZCZE CHCESZ TUTAJ DODAC RESPONSIVE DESIGN */

/* jak ktos najezdza to napisz tam ze to jest aktualne dane, temperatura itd */

/* jeszcze mozna zrobic ze powiedzmy po 18 sie zmieniaja grafiki */

*{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

body{
    overflow: hidden;
    background-color: #EAFCFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(21,960,448)'%3E%3Cstop offset='0' stop-color='%23EAFCFF'/%3E%3Cstop offset='1' stop-color='%23D9F0FF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='926' height='771.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.07'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-size: 1.375rem;
    color: rgb(5, 5, 5);
}

.cut{
    padding: 0 250px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 25px;
    /* tak jak margin w flexbox i grid */
    justify-content: center;
}

.search{
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
}

.error{
    color: red;
    display: flex;
    justify-content: center;
    text-align: left;
    position: absolute;
    font-size: 0.75rem;
    margin-top: 40px;
    left: 710px;
    display: none;
}

.search input{
    font-size: 1rem;
    border: 0;
    outline: 0;
    background: white;
    color: #555;
    padding: 10px 15px;
    width: 450px;
    border-radius: 25px;
    margin-right: 16px;
}

.search button{
    border: 0;
    outline: 0;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search button img{
    width: 25px;
}

@keyframes color{
    0%,
    100%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
}

.container{
    position: relative;
    width: 270px;
    /* 14vw  270px*/
    height: 355px;
    /* 38vh  355px*/
    background-color: linear-gradient(-45deg, #31C6B8, white);
    /* TA LINIA KODU SIE NIE WYSWIETLA W SENSIE NIE MA KOLOROW, SPRAWDZ CZEMU */
    border-radius: 25px;
    transition: all 0.3s;
}

/* jakis blurek jak wchodzi hover, i potem wyswietla dodatkowe informacje */
/* !important, bo w js dokonuje zmiany containeru i jest to specyficzna zmiana, a ten 
hover taki nie jest i go nie czyta jakos bardzo, przynajmniej czyta to left i top */
.container:hover{
    transform: translate(-7px, 7px);
    box-shadow: 0px 0px 0px !important;
    animation: color 4s ease-in-out infinite;
    background-size: 900% 900% !important;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
}

.teeksior{
    padding: 5px 20px 35px;
    transition: filter 0.5s;
}

.img_hover {
    margin: 0.5rem 0.65rem 0.2rem 0rem;
    height: 3.3rem;
    margin-left: 7px;
}

/* to jest w pizdu zle zrobione ale robie to zeby sie pobawic tym js */
/* no i co tutaj chcemy zeby to sie pojawialo gdy najezdzam sobie na ten tekst jak to zrobic xd?  */
.blur_text{
    font-size: 1.1rem;
    line-height: 0;
    margin-left: 5px;
    transform: translateY(-340px);
    display: none;
    opacity: 1;
    transition: display 5s;
}

.current_temperature, .rain_probability, .wind_speed, .humidity, .air_pressure {
    font-size: 1.9rem;
    font-weight: 900;
} 

.hover_add {
    font-size: 0.95rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.unit {
    font-weight: 500;
    font-size: 0.9rem;
    vertical-align: text-top;
}

.hover_add div {
    display: flex;
}

.card{
    position: relative;
    margin-bottom: 75px;
}

.circle{
    position: absolute;
    left: 80%;
    top: -5%;
    width: 70px;
    height: 70px;
    /* background-color: #34B0D1; */
    border-radius: 50%;
}
/* 
.circle1{
    background-color: #2694e8;
}

.circle2{
    background-color:  #7b8185;
}

.circle3{
    background-color: #782864;
}

.circle4{
    background-color: #fca416;
} */

.image{
    position: absolute;
    width: 57px;
    left: 6px;
    top: 5px;
}

.day{
    /* margin-left: 20px; */
    margin-top: 15px;
}

.date{
    display: block;
    font-size: 3.125rem;
    margin-top: 12px;
}

.temperature{
    display: flex;
    margin-top: 20px;
}

.temperature_low{
    margin-left: 60px;
}

.addnotation{
    font-size: 1.25rem;
    margin-top: 40px;
}

/* add media i defaultowo jest all, ale mozna zrobic screen itd */
/* max gdy zaczynamy od desktopu, min gdy zaczynamy od mobile, LEPIEJ CHYBA ZAWSZE ZACZYNAC OD MOBILE JEDNAK */

@media (max-width: 1796px) {
    body{
        overflow: visible;
    }
}